<p>User Dashboard a</p>

@if (ViewBag.error != null)
{
    <p>eror la wei</p>
}

<p><button type="button">@Html.ActionLink("Book Now!", "TicketForm")</button></p>

<h1>display semua booking based on user </h1>