

<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />


</head>
<body id="page-top">
    <header>
        <img src="~/Images/Banner.jpg"  style=" margin-left: auto; margin-right: auto; padding-bottom:30px; width: 100%; height:20%"/>
    </header>

    <section class="page-section bg-light" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">KAJANG ROUTE</h2>
                <h5 class="section-subheading text-muted">The 51km MRT Sungai Buloh-Kajang (SBK) Line begins from Sungai Buloh MRT station, located to the north-west of Kuala Lumpur, and runs through the city centre of Malaysia’s capital city before ending in Kajang MRT station, a fast developing town to the south-east of the city.</h5>
            </div>
            <div class="row">
               

                    <img src="~/Images/KajangRoute.png" style=" margin-left: auto; margin-right: auto; padding-bottom:30px; width: 90%;" />
               
            </div>
        </div>
    </section>



  
   
</body>
</html>
